<div class="home">
    <h3>welcome {{user.name}},</h3>
    <p>you can update your profile from here</p>
    <div class="edit">
        <div class="row name">
            <h1>Name: </h1>
            <input type="text" class="name-input" value="{{user.name}}">
            <a href="" class="update-name btn btn-success"> > </a>
        </div>
        <div class="row about">
            <h1>About: </h1>
            <textarea class="about-input" maxlength="50" type="text" placeholder="add something about you.."
                value="{{user.about}}" rows="3"></textarea>
            <a href="" class="update btn btn-success"> > </a>
        </div>
        <img
            src="https://images.pexels.com/photos/4965133/pexels-photo-4965133.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>
    <a href="/users/logout" class="btn btn-danger logout">Logout</a>


    <div class="bloglist">

    </div>



    <style>
        .edit {
            margin-left: 10px;
        }

        .update {
            width: 20px;
            height: 20px;
            font-size: 10px;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .update-name {
            width: 20px;
            height: 20px;
            font-size: 10px;
            margin-left: 14px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .name {
            align-items: center;

        }

        .about {
            align-items: center;
        }

        .about-input {
            font-size: 12px;
            width: 35%;
        }

        textarea {
            text-decoration: none;
            background-color: transparent;
            border: none;
            outline: none;
            width: 35%;
            margin-left: 10px;
            color: antiquewhite;
            font-family: cursive;
            font-size: 20px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            resize: none;
        }

        input {
            text-decoration: none;
            background-color: transparent;
            border: none;
            outline: none;
            width: 35%;
            margin-left: 10px;
            color: antiquewhite;
            font-family: cursive;
            font-size: 20px;
        }

        .edit h1 {
            font-size: 20px;
            font-family: cursive;
            color: rgb(95, 95, 95);
            margin: 5px;
        }

        .home img {
            width: 120px;
            height: 120px;
            border-radius: 100px;
            object-fit: cover;
            position: absolute;
            bottom: 55%;
            right: 10%;
        }

        .home p {
            margin-bottom: 10px;
        }

        .home {
            margin-top: 40px;
            padding: 10px;
            padding-left: 20px;
            border: black solid 3px;
            border-radius: 1rem;
            width: auto;
            height: 40%;
        }

        .logout {
            position: fixed;
            bottom: 54%;
        }
    </style>